body{
    font-family:"Titillium Web",sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0;
}

#background{
    position:absolute;
    top:0;left:0;
    width:100%;height:700px;
    background:url("rueSherbrooke.jpeg") center/cover no-repeat;
    opacity:.5;
    filter:blur(2px);
}

#background-fade{
    width:100%;height:100%;
    box-shadow:0 -300px 200px -25px #fff inset;
}

#container{
    position:relative;
    top:200px;
    width:70%;
}
@media(max-width:960px){
    #container{width:90%;}
}
h1{
    text-align:center;
    font-size:32px;
    margin-bottom:30px;
}

#ads-listing{
    width:100%;
}

.ad{
    position:relative;
    display:flex;
    background:#f5f5f5;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
    transition:transform .1s;
    cursor:pointer;
}
.ad:hover{transform:scale(1.01);}

.ad-image-container{
    height:300px;
    aspect-ratio:1;
    object-fit:cover;
    flex-shrink:0;
    border-radius:10px 0 0 10px;
}

.ad-text-container{
    padding:20px;
    flex:1;
    display:flex;
    flex-direction:column;
}

.title{
    font-size:20px;
    margin:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.description{
    font-size:14px;
    color:#444;
    margin-top:10px;
    height:60px;
    overflow:hidden;
    line-height:1.2em;
}

.ad-seller-profile{
    position:absolute;
    right:20px;
    bottom:20px;
    display:flex;
    align-items:center;
}
.stars-rating{
    position:relative;
    width:90px;
}
.rating-full-stars{
    position:absolute;
    top:0;
    color:goldenrod;
    white-space:nowrap;
    overflow:hidden;
}
.rating-empty-stars{
    color:lightgray;
}
