body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        135deg,
        #2c3e50 0%,
        #34495e 25%,
        #5d6d7e 50%,
        #7b8794 75%,
        #95a5a6 100%
    );
    min-height: 100vh;
}

@media screen and (max-width: 1250px) {
    #container {
        width: 90% !important;
    }
}

@media screen and (max-width: 960px){
    #container {
        width: 100% !important;
    }
}

#container {
    font-family: "Titillium Web", sans-serif;
    position: relative;
    top: 200px;
    width: 70%;
    height: fit-content;
    box-sizing: border-box;
}

.category-button {
    position: relative;
    max-width: 100%;
    flex-grow: 1;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.05s linear, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.category-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.category-button:hover > .button-icon-full {
    height: 80px;
}

.button-title {
    margin-left: 30px
}

.button-icon, .button-icon-full {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 40px;
    top: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
}
.button-icon-full {
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease-in-out;
}

.background-icon {
    position: absolute;
    right: -30px;
    top: -20px;
    width: 150px;
    height: 150px;
    color: darkgray;
    filter: blur(2px);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 140px;
    z-index: -2;
}

.background-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px -60px 50px -35px white inset;
    z-index: -1;
}

#button-favorites:hover {
    color: purple;
}

#button-my-ads:hover {
    color: darkorange;
}