<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BooksMapper">

    <select id="getAllBooks" resultType="business.Book">
        SELECT bookId, bookTitle, author, categoryId, adId
        FROM app.Books;
    </select>


    <select id="getBookById" resultType="business.Book">
        SELECT bookId, bookTitle, author, categoryId, adId
        FROM app.Books
        WHERE bookId = coalesce(#{id}, bookId);
    </select>


</mapper>