<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EquipmentsMapper">

    <select id="getAllEquipments" resultType="business.Equipment">
        SELECT equipmentId, categoryId, programID, adId
        FROM app.Equipments;
    </select>


    <select id="getEquipmentById" resultType="business.Equipment">
        SELECT equipmentId, categoryId, programID, adId
        FROM app.Equipments
        WHERE equipmentId = coalesce(#{id}, equipmentId);
    </select>


</mapper>