<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UsersMapper">

    <select id="getAllUsers" resultType="business.Users">
        SELECT userid, firstName, lastName, email, passwordHash, userTypeId, scoreclientid, scoresellerid
        FROM app.Users;
    </select>


    <select id="getUserById" resultType="business.Users">
        SELECT userid, firstName, lastName, email, passwordHash, scoreclientid, scoresellerid
        FROM app.Users
        WHERE userid = coalesce(#{id}, userid);
    </select>

    <update id="updateUser">
        UPDATE app.users
        SET firstname = #{firstName}, lastname = #{lastName}, email = #{email}, passwordhash = #{password}
        WHERE userId = coalesce(#{id}, userId)
    </update>

    <delete id="deleteUser">
        DELETE FROM app.users
        WHERE userId = coalesce(#{id}, userId)
    </delete>

</mapper>